doctype html
html
  include head
  body
    include simple_header
    section#one.main.style1.special
      .container
        header.major
          h2= 'Error '+status+ " - "+ message
        p= "If you believe this to be an error, please contact me !"

    include footer
