section#footer
  ul.icons
    li
      a.icon.alt.fa-github(href='#')
        span.label GitHub
    li
      a.icon.alt.fa-envelope(href='mailto:')
        span.label Email

  ul.copyright
    li &copy; Hoelzl
    li Design by: <a href="">H&ouml;lzl</a> 
script(src='/js/jquery.min.js')
script(src='/js/jquery.scrolly.min.js')
script(src='/js/skel.min.js')
script(src='/js/util.js')
//if lte IE 8
  script(src='/js/ie/respond.min.js')
script(src='/js/main.js')
script(src='js/modernizr.js')
