head
    if title
      title= "Hoelzl - "+title
    else 
      title Hoelzl
    link(rel='shortcut icon', href='/favicon.png', type='image/x-icon') 
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //if lte IE 8
      script(src='./js/ie/html5shiv.js')
    link(rel='stylesheet', href='/css/main.css')
    //if lte IE 8
      link(rel='stylesheet', href='/css/ie8.css', media="none", onload="if(media!='all')media='all'")
    //if lte IE 9
      link(rel='stylesheet', href='/css/ie9.css', media="none", onload="if(media!='all')media='all'")