doctype html
html
  include head
body
    include simple_header
    section#one.main.style1.special
      .container
        header.major
          h2 Work in Progres ...
        p= "Website is being built, it may take some time. Sorry for making you wait."
      block content

    include footer
