doctype html
html
  include head
body
    include simple_header
    section#one.main.style1.special
      .container
        h4 Form
        form(method='post', action='/admin/manage_users')
          .row.uniform(class='50%')
            div(class='4u 12u$(xsmall)')
              input(type='text', name='username', placeholder='Username',required, autofocus)
            div(class='4u 12u$(xsmall)')
              input(type='password', name='password', class='form-control nomargin', placeholder='Password', required)
            div(class='4u 12u$(xsmall)')
              input(type='email', name='email', class='form-control', placeholder='Email',required)
            div(class='4u 12u$(xsmall)')
              input(type='text', name='firstName', class='form-control', placeholder='First Name',required)
            div(class='4u 12u$(xsmall)')
              input(type='text', name='lastName', class='form-control', placeholder='Last Name',required)
            div(class='12u$')
              ul.actions
                li
                  input.special(type='submit', value='Add User')
                li
                  input(type='reset', value='Reset')
            if message
              .error-message #{message}
      script.
        $( ".container form" ).submit(function( event ) {
          event.preventDefault();
          var $form = $( this ),
          term = $form.find( "input[name='s']" ).val(),
          url = $form.attr( "action" );
          var posting = $.post( url, $form.serialize() );
 
          posting.done(function( data ) {
            console.log(data);
          });
        });
    include footer