doctype html
html
  include head
  body
    include simple_header
    section#one.main.style1
      .container
        .row(class='150%')
          div(class=' 6u 12u$(medium)')
            header.major
              h2
                | Lorem ipsum dolor adipiscing
                br
                |  amet dolor consequat
            p
              | Adipiscing a commodo ante nunc accumsan et interdum mi ante adipiscing. A nunc lobortis non nisl amet vis sed volutpat aclacus nascetur ac non. Lorem curae et ante amet sapien sed tempus adipiscing id accumsan.
          div(class='6u$ 12u$(medium) important(medium)')
            span.image.fit
              img(src='images/pic06.jpg', alt='')
    section#two.main.style2
      .container
        .row(class='150%')
          div(class='6u 12u$(medium)')
            ul.major-icons
              li
                span.icon.style1.major.fa-code
              li
                span.icon.style5.major.fa-terminal
              li
                span.icon.style2.major.fa-html5
              li
                span.icon.style3.major.fa-css3
              li
                span.icon.style4.major.fa-jsfiddle
              li
                span.icon.style6.major.fa-gamepad
          div(class='6u$ 12u$(medium)')
            header.major
              h2 My tools
            p
              | Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl amet vis volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan adipiscing ipsum.
            p
              | Blandit faucibus proin. Ac aliquam integer adipiscing enim non praesent vis commodo nunc phasellus cubilia ac risus accumsan. Accumsan blandit. Lobortis phasellus non lobortis dit varius mi varius accumsan lobortis. Blandit ante aliquam lacinia lorem lobortis semper morbi col faucibus vitae integer placerat accumsan orci eu mi odio tempus adipiscing adipiscing adipiscing curae consequat feugiat etiam dolore.
            p
              | Adipiscing a commodo ante nunc accumsan interdum mi ante adipiscing. A nunc lobortis non nisl amet vis volutpat aclacus nascetur ac non. Lorem curae eu ante amet sapien in tempus ac. Adipiscing id accumsan adipiscing ipsum.
    section#three.main.style1.special
      .container
        header.major
          h2 Projects
        .row(class='150%')
          div(class='4u 12u$(medium)')
            span.image.fit
              img(src='images/pic-msg15.jpg', alt='')
            h3 Steam MSG15 community dev
            ul.actions
              li
                a.button(href='https://steamcommunity.com/groups/MSG2015') Read More
          div(class='4u 12u$(medium)')
            span.image.fit
              img(src='images/pic-gvaes.jpg', alt='')
            h3 GVA-ES &amp; GGC dev team
            ul.actions
              li
                a.button(href='https://dev.geneva-e-sport.com/') Read More
          div(class='4u$ 12u$(medium)')
            span.image.fit
              img(src='images/pic-foobar.jpg', alt='')
            h3 SoundCloud in Foobar2000
            ul.actions
              li
                a.button(href='https://www.foobar2000.org/') Read More
    section#four.main.style2.special
      .container
        header.major
          h2 What now ?
        ul.actions.uniform
          li
            a.button.special(href='#') Contact
          li
            a.button(href='#') Concepts
    include footer
